html {
    background-color: rgba(15, 235, 239, 0.826);
}

.bodyItems{
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.containerBorder {
    display:grid;
    align-self: center;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
    background-color: white;
    border: 1px solid blue;
}

.bgColorChange {
    background-color: rgb(186, 72, 72);
}

.buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}